<div class="nevbar">
    <ul>
        <li><a routerLinkActive="activelink" routerLink="home" class="links" id="home">Home</a></li>   
        <li><a routerLinkActive="activelink" routerLink="login" class="links"id="login">Login</a></li>   
        <li><a routerLinkActive="activelink" routerLink="signup" class="links">Signup</a></li>   
        <li><a routerLinkActive="activelink" routerLink="planJourney" class="links">Plan Journey</a></li>   
        <li><a routerLinkActive="activelink" routerLink="#" class="links">kuchto</a></li>   
    </ul>
    <!-- use of router link instead of href provides page switching without reloading -->
</div>